button {
    background-color: blue;
    color: white;
    opacity: 0.5;
    transition: 1s;
}

button:hover {opacity: 1}


.inputBoxes {
    font-size: small;

}


#randomTitle {
    text-align: center;
}

#userInputs {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}

#maxCheck, #minCheck, #howManyCheck {
    font-size: x-small;
}

#results {
    text-align: center;
}

.google-map {
    position: relative;
}

iframe {
    width: 1000px;
    display: flex;
    justify-self: center;
    align-items: bottom;
    top: 700px;
}